*{
    font-family:'Courier New', Courier, monospace;
}

h1{
    color: black;
    display: flex;
    justify-content: center;
}

body{
    background-color: #808080;
}

#button-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#container{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 450px;
    border-color: black;
    border-style: solid;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.column{
    border-color: black;
    border-style: solid;
    flex-grow: 1;
    border-width: 1px
}
